
java_7=/home/liumin/2_softwares/jdk1.7.0_80/bin/java
java_8=/usr/bin/java
gatk4=/home/liumin/2_softwares/gatk-4.0.5.2/gatk
gatk_protected=/home/liumin/2_softwares/gatk-protected.jar
MuTect=/home/liumin/2_softwares/muTect-1.1.5.jar
centrifuge=/usr/local/bin/centrifuge
deTiN=/usr/bin/deTiN
bwa=/home/liumin/2_softwares/bwa-0.7.17/bwa
samtools=/home/liumin/2_softwares/samtools-1.8/samtools
picard=/home/liumin/2_softwares/picard.jar
fastqc=/home/liumin/2_softwares/FastQC/fastqc
#UMI-tools

hg19_genome=/home/liumin/1_WorkSpace/reference_genome/hg19/ucsc.hg19.fasta

# for Mutect1 :  dbsnp is used to reject candidate mutations (most of them are germline)
# cosmic is more highly validated, used as whitelist to "rescue" candidate
hg19_cosmic=/home/liumin/1_WorkSpace/reference_genome/hg19/convert_b37-vcf_to_hg19/hg19_cosmic_v54.vcf
hg19_dbsnp=/home/liumin/1_WorkSpace/reference_genome/hg19/dbsnp_138.hg19.vcf

# for pre-process: as known indels resource during BQSR 
hg19_indels=/home/liumin/1_WorkSpace/reference_genome/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf

# for Mutect2 : germline is used for Mutect2; small_exac_common is used for GetPileupSummaries (Contamination Estimation)
germline_resource=/home/liumin/1_WorkSpace/reference_genome/hg19/convert_b37-vcf_to_hg19/af-only-gnomad.raw.sites.hg19.vcf.gz
small_exac_common=/home/liumin/1_WorkSpace/reference_genome/hg19/convert_b37-vcf_to_hg19/small_exac_common_3_hg19.vcf.gz

# for GetBayesianHetCoverage : a list of common SNP sites which were only tested  
snp_interval=/home/liumin/1_WorkSpace/reference_genome/hg19/convert_b37-vcf_to_hg19/allchr.1kg.phase3.v5a.snp.maf10.biallelic.hg19.interval_list

# for CalculateTargetCoverge (CNV) : a padded intervals list of the baited region; can be generated by gatk-protected PadTargets 
# To whole-exome-sequencing data, padding 250bp on either side increases sensitivity
target_bed=/home/liumin/1_WorkSpace/1_contamination/1_deTiN/ACNV/CNV/test-for-pipeline/targets_padded.bed

# for deTiN : download ExAC vcf file and call the deTiN_utilities.build_exac_pickle 
exac_sites=




